.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}
button{
  background-color: bisque;
  font-weight: 1000;
  text-align: center;
}
